apiVersion: apps/v1
kind: Deployment
metadata:
  annotations:
    kubernetes.io/change-cause: "change port nginx to 80" # Anotación para registrar el motivo del cambio
  name: deployment-test
  labels:
    app: front
spec:
  replicas: 3
  selector:
    matchLabels:
      app: front
  template:
    metadata:
      labels:
        app: front
    spec:
      #revisionHistoryLimit: 10  # Limite de revisiones históricas
      containers:
        - name: nginx
          image: nginx:alpine
          ports:
            - containerPort: 80